# .gitignore files
/node_modules
/dist
/build
/.idea
/.vscode
**/*.log
**/*.old

# .dockerignore files
Dockerfile*
docker-compose*
docker*
*.docker*
.gitignore
.prettierrc
.eslintignore
.eslintrc
config.example.yaml
